<div>
  <div class="col-xs-8">
    <h1>Mtickets is a part of my portfoios while working in Ruby on Rails.</h1>
    <h2>Who I am</h2>
    <p>
      I am Michael who lives in a beautiful city Gent. I have a passion for programming and web development. I a curious person and have an open mind for changes and progress.
    </p>
    <h2>What I want</h2>
    <p>
      For me, programming a way of expression. And I use it as a tool to address challenges I face and this app is one of them. 
    </p>
  </div>
  <div class="col-xs-4">
    <%= image_tag("girl.png", alt: "girl", class: "img-responsive") %>
  </div>
</div>