<div>
  <div class="col-xs-8">
    <h1>Coming Soon!</h1>
    <h2>You're seeing this page because I haven't built this feature yet.</h2>
    <p>
      Mtickets is an ongoing passion project.
    </p>
  </div>
  <div class="col-xs-4">
    <%= image_tag("man.png", alt: "man", class: "img-responsive") %>
  </div>
</div>
