<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h1>About</h1>
          Mtickets empowers event managers, creators, and students, (that's you!), with a very simple ticket sales solution.
      </div>
      <div class="col-sm-2 center">
        <%= link_to "create an account", new_user_registration_path %>
      </div>
      <div class="col-sm-2 center">
        <%= link_to "about", about_path %>
      </div>
      
      <div class="col-sm-2 center">
        <%= link_to 'michael', 'http://michaelarayabe.github.io', target: '_blank' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        copy written by <a href="http://www.michaelaraya.be" title="Michael Araya">Michael Araya</a>
        </br>
        icons came from <a href="http://www.freepik.com" title="Freepik">Freepik</a> and is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </div>
    </div>
  </div>
</footer>